
<div class="card my-5">
  <div class="card-body">
    <div class="dropdown">
      <button class="dropbtn">League</button>
      <div class="dropdown-content">
        <a  *ngFor="let league of leagues" class="dropdown-item" [routerLink]="['/standings/',league.league_id]">{{league.league_title}}</a>

      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Club</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">MP</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">P</th>
        <th scope="col">GS</th>
        <th scope="col">GA</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let standing of standings">
        <td align="center">{{standings.indexOf(standing)+1}}</td>
        <td align="center"><img src={{standing.logo}} width="32" height="32"></td>
        <td><a [routerLink]="['/clubs/',standing.club_id]" style="text-decoration: none">{{ standing.club_name }}</a></td>
        <td>{{ standing.matchesPlayed }}</td>
        <td>{{ standing.wins }}</td>
        <td>{{ standing.draws }}</td>
        <td>{{ standing.loses }}</td>
        <td>{{ standing.points }}</td>
        <td>{{ standing.goalsScored }}</td>
        <td>{{ standing.goalsAgainst }}</td>
      </tr>
      </tbody>
    </table>
<!--    <div class="dropdown">-->
<!--      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        Leagues-->
<!--      </button>-->
<!--      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--        <a class="dropdown-item" href="#">Action</a>-->
<!--        <a class="dropdown-item" href="#">Another action</a>-->
<!--        <a class="dropdown-item" href="#">Something else here</a>-->
<!--        &lt;!&ndash;        <a  *ngFor="let league of leagues" class="dropdown-item" href="#">{{league.league_title}}</a>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>
