
<div class="card my-5">
  <div class="card-header">
    <div class="dropdown" >
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" align="center">
        Choose league
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
        <a *ngFor="let league of leagues" class="dropdown-item" (click)="selectLeague(league.league_id)">{{league.league_title}}</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Club</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">MP</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">P</th>
        <th scope="col">GS</th>
        <th scope="col">GA</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let standing of standings">
        <td align="center">{{standings.indexOf(standing)+1}}</td>
        <td align="center"><img src={{standing.logo}} width="32" height="32"></td>
        <td><a [routerLink]="['/clubs/',standing.club_id]" style="text-decoration: none">{{ standing.club_name }}</a></td>
        <td>{{ standing.matchesPlayed }}</td>
        <td>{{ standing.wins }}</td>
        <td>{{ standing.draws }}</td>
        <td>{{ standing.loses }}</td>
        <td>{{ standing.points }}</td>
        <td>{{ standing.goalsScored }}</td>
        <td>{{ standing.goalsAgainst }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
