<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="card my-5">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row content">
        <div class="well col-sm-12">
          <hr>
          <h2>{{post.header}}</h2>
          <h5><i class="far fa-calendar-alt"></i> Post by {{post.username}}, {{post.created_at}}.</h5>
          <p>{{post.text}}</p>
        </div>
      </div>
      <a [routerLink]="['/comment/', post.post_id, 'undefined']">Add comment</a>
      <div class="container bootstrap snippet">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-comment">
              <h3>Comments</h3>
              <hr/>
              <ul class="comments" *ngFor="let comment of comments">
                <li class="clearfix">
                  <img src="{{comment.user_logo}}" class="avatar" alt="" width="100" height="100">
                  <div class="post-comments">
                    <p class="meta">Dec 18, 2014 <a href="#">{{comment.username}}</a> says : <i class="pull-right">
                      <a [routerLink]="['/comment/', post.post_id,comment.comment_id]"><small>Reply</small></a></i></p>
                    <p>
                      {{comment.text}}
                    </p>
                    <div style="justify-items: right">
                      <a (click)="likeComment(comment.comment_id)">
                        <div class="row">
                          <div *ngIf="comment.liked; else elseBlock">
                            <i class="fas fa-thumbs-up"></i>
                          </div>
                          <ng-template #elseBlock> <i class="far fa-thumbs-up"></i></ng-template>
                          <small>{{comment.likes}}</small>
                        </div>
                      </a>
                      <a (click)="dislikeComment(comment.comment_id)">
                        <div class="row">
                          <div *ngIf="comment.disliked; else elseBlock1">
                            <i class="fas fa-thumbs-down"></i>
                          </div>
                          <ng-template #elseBlock1> <i class="far fa-thumbs-down"></i></ng-template>
                          <small>{{comment.dislikes}}</small>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>

                <ul class="comments">
                  <li class="clearfix" *ngFor="let comm of comment.comments">
                    <img src="{{comm.user_logo}}" class="avatar" alt="" width="100" height="100">
                    <div class="post-comments">
                      <p class="meta">Dec 20, 2014 {{comm.username}} says : To {{comm.reply_name}}
                        <i class="pull-right">
                          <a [routerLink]="['/comment/', post.post_id,comm.comment_id]"><small>Reply</small></a>
                        </i>
                      </p>
                      <p>
                        {{comm.text}}
                      </p>
                      <div style="justify-items: right">
                        <a (click)="likeComment(comm.comment_id)">
                          <div class="row">
                            <div *ngIf="comm.liked; else elseBlock2">
                              <i class="fas fa-thumbs-up"></i>
                            </div>
                            <ng-template #elseBlock2> <i class="far fa-thumbs-up"></i></ng-template>
                            <small>{{comm.likes}}</small>
                          </div>
                        </a>
                        <a (click)="dislikeComment(comm.comment_id)">
                          <div class="row">
                            <div *ngIf="comm.disliked; else elseBlock12">
                              <i class="fas fa-thumbs-down"></i>
                            </div>
                            <ng-template #elseBlock12> <i class="far fa-thumbs-down"></i></ng-template>
                            <small>{{comm.dislikes}}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
