<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="alert alert-danger" *ngIf="isError">
  Error!<br/>{{ errorMessage }}
</div>

<div class="card my-5">
  <div class="card-body">
    <div *ngIf="isLoggedIn">
      <h2 class="card-title text-center py-3">Write your own post</h2>
      <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
          <a routerLink="/addPost" class="btn btn-info">Add Post</a>
        </li>
      </ul>
    </div>
    <div class="row mx-auto">
      <form class="form-inline my-2 my-lg-0" [formGroup]="regForm" (submit)="onSubmit()">
        <input class="form-control mr-sm-2" formControlName="Name" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button *ngIf="ifSearchPressed" class="btn" (click)="removeFilter()"><i class="fas fa-times-circle"></i>
        </button>
      </form>
    </div>
    <div class="container-fluid">
      <div class="row align-items-center" *ngFor="let post of postPage.content">
        <div class="well col-sm-8">
          <hr>
          <h2>{{post.header}}</h2>
          <h5><i class="far fa-calendar-alt"></i> Post by {{post.username}}, {{post.created_at}}.</h5>
          <p>{{post.text}}</p>
          <a [routerLink]="['/post-detail/', post.post_id]">Show</a>
          <br>
          <i class="far fa-comments	"></i>Comments({{post?.comments_count || '0'}})
          <br><br>
          <i class="fas fa-heart"></i><b>{{post.likes - post.dislikes}}</b>
        </div>
        <div class="well col-sm-4" *ngIf="showModeratorBoard">
          <button type="button" class="btn btn-danger" (click)="delete(post.post_id)">Delete</button>
        </div>
      </div>
    </div>
    <div class="container " align="center" style="margin-top: 20px">
      <div class="col -lg-12" align="center">
        <nav aria-label="..." style="text-align: center">
          <ul class="pagination justify-content-center">
            <li *ngFor="let page of ' '.repeat(postPage.totalPages).split(''), let i = index " (click)="onSelect(i)"
                [class.active]="i === selectedPage" class="page-item"><a class="page-link">{{i + 1}}</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
