<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="alert alert-danger" *ngIf="isError">
  Error!<br/>{{ errorMessage }}
</div>

<div class="card"  *ngIf="!isError">
  <div style=" align-self:center;width: 256px" ><img class="card-img-top" src="{{club.logo}}" alt="Club logo" height="256"></div>
  <div class="card-body">
    <h4 class="card-title" align="center">{{club.club_name}}</h4>
    <dl class="row">
      <dt class="col-sm-3">Stadium</dt>
      <dd class="col-sm-8">{{club.stadium}}</dd>

        <a (click)="onStar(club.club_id)">
        <div *ngIf="isPressed; else elseBlock">
          <i class="fas fa-star"></i>
        </div>
        <ng-template #elseBlock><i class="far fa-star"></i></ng-template>
        </a>

      <dt class="col-sm-3">Info</dt>
      <dd class="col-sm-9">{{club.club_info}}</dd>
    </dl>
  </div>
</div>
